body {
    font-family: 'Rubik', sans-serif;
    background-image: url('../resources/images/background.jpg');
    user-select: none;
}

.section {
    width: 97vw;
    height: 120vh;
    justify-items: center;
    --global-transition-delay: 500ms;
}

.section-content-container {
    padding: 5%;
    border-radius: 20px;
    background-color: #292929;
    margin: 5%;
    transition-duration: var(--global-transition-delay);
}

.section-content {
    padding: 1%;
}

.section-content-part {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #e8e7e7;
}

.section-content-container:hover {
    box-shadow: 5px 5px black;
    transition-duration: var(--global-transition-delay);
}

#greeting {
    font-family: 'Bungee Shade';
    font-size: 40px;
}

#about-me {
    font-family: 'Expletus Sans', sans-serif;
    font-size: 20px;
}

#external-links {
    background-color: #d9e5e7;
    border-radius: 99rem;
    height: 15vh;
    transition-duration: var(--global-transition-delay);
}

#external-links:hover {
    box-shadow: 10px 10px black;
    transition-duration: var(--global-transition-delay);
}

#programming-gif {
    width: 178px;
    height: 100px;
    border: 5px solid hsl(0, 0%, 82%);
    border-radius: 10%;
}

.link-icon {
    width: 10vh;
    height: 10vh;
    margin: 2%;
    transition: 300ms;
}

.link-icon:hover {
    scrollbar-shadow-color: #292929;
    transition: 300ms;
    transform: scale(1.1);
}
