body {
    --foreground-color: #F5F5F6;
    --top-bar-color: #21C995;
    --copyright-color: var(--foreground-color);

    background-color: #21C995;
    margin: 0px;
    justify-items: center;
    align-items: center;
}

#welcome-text-container {
    display: flex;
    margin: auto;
    width: 600px;
    margin-top: auto;
}

#welcome-text-content1 {
    width: 250px;
    padding: 0px 10px 0px 0px;
    color: var(--foreground-color);
    font-family: "Patrick Hand", fantasy;
    font-size: 86px;
    text-justify: distribute;
    text-transform: uppercase;
}

#welcome-text-content2 {
    width: 250px;
    padding: 35px 0px 0px 10px;
    color: var(--foreground-color);
    font-family: "Klee One", sans-serif;
    font-size: 32px;
}

#top-bar {
    --top-bar-width: calc(100vw - 14px);
    width: var(--top-bar-width);
    height: 64px;
    background-color: var(--top-bar-color);
    position: sticky;
    top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#top-bar-contents {
    width: var(--top-bar-width - 4px);
    margin-left: 2px;
    margin-right: 2px;
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-items: center;
}

.top-bar-element {
    margin: 5px;
    font-family: "Klee One", sans-serif;
    color: var(--foreground-color);
}

.top-bar-button {
    text-decoration: none;
    font-size: 15px;
}

#copyright-text {
    position: fixed;
    right: 5px;
    color: var(--copyright-color);
}

#external-links-container {
    width: 100%;
    text-align: center; /*For some reason, icons have to be aligned this way.*/
}

.contact-button-lnk {
    margin: auto;
    justify-items: center;
}

.contact-button-img {
    width: 48px;
    height: 48px;
    filter: invert(90%);
}